:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(../assets/fonts/Ubuntu-Regular.ttf);
}
html,
body {
  overflow: auto;
  height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: 400;
  background: var(--magnolia);
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h4,
p {
  margin: 0;
}
.card {
  max-width: 940px;
  min-height: 600px;
  margin: 105px auto;
  padding: 15px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  gap: 100px;
  position: relative;
}
.card__left-box {
  position: absolute;
  top: 50px;
  left: 45px;
}
.card__left-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.card__left-number {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-active .card__left-number {
  background-color: var(--light-blue);
  color: var(--marine-blue);
}
.card_left-step {
  color: var(--light-gray);
  text-transform: uppercase;
}
.card__left-title {
  color: var(--white);
  text-transform: uppercase;
}
.card__right {
  position: relative;
  top: 0;
}

.card__block {
  min-height: 100%;
  flex-direction: column;
  padding-block-start: 45px;
  display: none;
  transition: opacity 0.3s, transform 0.3s;
}
.card__block:not(.card__block-active) {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  position: absolute;
}
/* для того чтобы прижать кнопки к низу */
form,
.card__plan,
.card__add,
.card__summary-wrapper:has(.card__block) {
  flex-grow: 0.8;
}
.card__block .card__summary-wrapper {
  flex-grow: 0.8;
}

.card__right .card__block-active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.card__block-title .card__title {
  font-size: 40px;
  color: var(--marine-blue);
  margin-block: 0 20px;
}
.card__block-title .card__provide {
  color: var(--cool-gray);
  line-height: 156%;
  margin-block: 0 30px;
}

form {
  background-color: var(--white);
}

.input__fields {
  margin-block-end: 25px;
}
.label-form {
  display: flex;
  align-items: center;
}
.input__fields label {
  display: inline-block;
  color: var(--marine-blue);
  margin-block-end: 10px;
}

.input__fields .error-input {
  display: inline-block;
  color: var(--strawberry-red);
  margin-block: 0;
  margin-left: auto;
  opacity: 0;
}

.input__fields input[type="text"],
.input__fields input[type="email"],
.input__fields input[type="tel"] {
  display: block;
  border: 1px solid var(--light-blue);
  width: 450px;
  height: 45px;
  padding-inline-start: 13px;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.4s ease;
}

.input__fields input:hover {
  border-color: var(--purplish-blue);
}

input:focus,
.noerror-block input {
  outline-color: var(--purplish-blue);
}

.input__fields input:focus-visible {
  border: 2px dotted var(--purplish-blue);
}

.input__fields input::placeholder {
  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;
}

.error-block .error-input {
  opacity: 1;
}
/* .error-input {
  border: 2px solid var(--strawberry-red);
} */

/* для того чтобы, после ввода данных
в инпуте цвет плейсхолдера - был белый */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 40rem white inset;
}

.buttons__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-prev {
  border: none;
  background: none;
  outline: none;
  opacity: 1;
  transition: all 0.4s ease;
  color: hsl(240, 6%, 66%);
}

.card__right .card__block:first-child .buttons__card .btn-prev {
  opacity: 0;
}

.btn-prev:hover {
  color: var(--marine-blue);
  cursor: pointer;
  font-weight: 700;
}
.btn-next {
  width: 125px;
  height: 45px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--marine-blue);
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 450ms ease;
  &:hover {
    opacity: 0.8;
  }
}

.confirm {
  background-color: var(--purplish-blue);
}
/* Step 2 - Toggle */
.card__title {
  font-size: 40px;
  color: var(--marine-blue);
  margin-block: 0 20px;
}
.card__provide {
  color: var(--light-gray);
  margin-block: 0 30px;
}
.card__plan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__plan-cart {
  display: grid;
  grid-template-columns: repeat(3, 135px);
  column-gap: 20px;
}
.card__plan-selection {
  min-height: 180px;
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 20px;
  margin-block-end: 30px;
  cursor: pointer;
  transition: border 350ms ease-in;
  &:hover {
    border: 2px solid var(--purplish-blue);
  }
}
.card__plan-selection.active {
  border: 2px solid var(--purplish-blue);
  background-color: var(--alabaster);
}
.card__plan- .card__plan-selection img {
  display: block;
  margin-bottom: 45px;
}
.card__plan-info {
  display: flex;
  flex-direction: column;
}
.card__plan-name {
  margin-bottom: 10px;
}
.card__plan-month {
  margin-bottom: 10px;
  color: var(--cool-gray);
}
.card__plan-year {
  display: none;
  margin-bottom: 10px;
  color: var(--cool-gray);
}
.card__plan-free {
  display: none;
}
.plan__toggle {
  height: 48px;
  background-color: var(--alabaster);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
}
.plan__toggle label {
  width: 38px;
  height: 20px;
  background: var(--marine-blue);
  border-radius: 40px;
  padding: 4px 4px;
  margin-block-end: 0;
  cursor: pointer;
}
/* .montly {
} */
.toggle-input {
  display: none;
}
.toggle-switch {
  width: 12px;
  height: 12px;
  background: var(--white);
  border-radius: 50%;
  transition: all 0.5s ease;
}
.toggle-input:checked ~ .toggle-switch {
  transform: translateX(calc(30px - 12px));
}
/* Step 3 - checkbox */
.card__add {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card__add-block {
  height: 80px;
  width: 450px;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  padding-left: 15px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: border-color 450ms ease-in-out;
  &:hover {
    border-color: var(--purplish-blue);
  }
}

/* Стилизуем label */
.card__add-check {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* Скрываем стандартный <input>: */
.card__add-check input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* Рисуем кастомный checkbox в <span>: */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--cool-gray);
  border-radius: 3px;
}

.card__add-check input:checked ~ .checkmark {
  background-color: var(--purplish-blue);
}

.checkmark::after {
  position: absolute;
  content: "";
  display: none;
}

.card__add-check input:checked ~ .checkmark::after {
  display: block;
}

.card__add-check .checkmark::after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* применить стили к блоку при включеном чекбоксе */
.card__add-block.active:has(.card__add-check input:checked) {
  border-color: var(--purplish-blue);
  background-color: var(--magnolia);
}
.card__add-conditions p:first-child {
  color: var(--marine-blue);
  font-weight: 700;
  margin-bottom: 10px;
}
.card__add-conditions p:last-child {
  color: var(--cool-gray);
}
.card__add-price {
  color: var(--purplish-blue);
  margin-left: auto;
  margin-right: 20px;
}

.card__add.yearly {
  display: none;
}

/* Step 4 Summary */
.card__summary {
  background-color: var(--magnolia);
  border-radius: 8px;
  min-height: 180px;
  padding: 20px;
  margin-block-end: 24px;
}
.card__summary-arcade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 16px;
  padding-block-end: 24px;
  border-bottom: 1px solid rgba(150, 153, 170, 0.2);
}
.arcade-name {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.arcade-name a {
  transition: color 450ms ease;
  &:hover {
    color: var(--purplish-blue);
  }
}
.arcade-name__wrap {
  display: flex;
  align-items: center;
  color: var(--marine-blue);
  margin-block: 0 5px;
}
.arcade-name p {
  font-weight: 700;
  padding-inline-end: 5px;
}

.arcade-price {
  font-weight: 600;
}
.card__summary-larger {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки */
  gap: 10px;
}
.selected-plans-grid {
  display: grid;
  grid-template-columns: 1fr auto; /* Название растягивается, цена — по содержимому */
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.grid-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

#selected-plan-items {
  display: contents; /* Дочерние элементы становятся частью Grid */
}

.plan-row {
  display: contents; /* Важно для правильного размещения в Grid */
}

.plan-name,
.plan-price {
  padding: 5px 0;
}

.plan-price {
  text-align: right;
}

.card__summary-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__summary-service {
  margin-block-end: 16px;
}
.selected-plans-grid,
.card__summary-total p,
.card__summary-total span {
  color: var(--cool-gray);
}
.total-price {
  font-weight: 600;
  font-size: 18px;
  color: var(--marine-blue);
}
/* Thank you */
.card__block-tanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 435px;
  padding: 0;
  margin: 0;
  margin-block-start: 105px;
}

.card__block-tanks img {
  display: block;
  margin-block-end: 32px;
}

.card__block-tanks h4 {
  color: var(--marine-blue);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-block-end: 14px;
}

.card__block-tanks p {
  color: var(--cool-gray);
  line-height: 156%;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-style: italic;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 780px) {
  html,
  body {
    height: 100%;
  }
  .card {
    margin: 0;
    flex-direction: column;
    background: var(--magnolia);
    gap: 0;
  }
  .card__left-box {
    top: 30px;
    left: 95px;
    display: flex;
    gap: 15px;
  }
  .card__left-text {
    display: none;
  }

  .card__right {
    top: -72px;
    /* height: 100%; */
  }
  .card__block {
    padding-block-start: 0;
    border-radius: 10px;
  }
  .card__right .card__block-active {
    /* justify-content: space-between; */
  }
  .card__block-title {
    background: var(--white);
    padding: 22px 24px;
  }
  .card__block-title .card__title {
    font-size: 24px;
    margin-block-end: 9px;
  }
  .card__block-title .card__provide {
    font-size: 16px;
    margin-block-end: 0;
  }
  form {
    padding-inline: 24px;
  }
  form,
  .card__plan,
  .card__add,
  .card__summary-wrapper:has(.card__block) {
    height: 100%;
    flex: 1 0 auto;
  }
  .input__fields {
    margin-block-end: 16px;
  }
  .input__fields input[type="text"],
  .input__fields input[type="email"],
  .input__fields input[type="tel"] {
    width: 100%;
  }
  .buttons__card {
    flex: 0 0 auto;
    background: var(--white);
    height: 72px;
    padding-inline: 16px;
  }
  .btn-next {
    width: 97px;
    height: 40px;
  }
  .card__plan {
    background: var(--white);
  }
  .card__plan-cart {
    grid-template-columns: 295px;
    gap: 12px 0;
    margin-block-end: 24px;
  }
  .card__plan-selection {
    display: flex;
    align-items: center;
    column-gap: 14px;
    min-height: 99px;
    padding-block: 14px 17px;
    margin-block-end: 0;
  }
  .card__add {
    background: var(--white);
  }
  .card__add-block {
    width: 100%;
    height: 62px;
  }
  .card__add-title {
    font-size: 0.875rem;
  }
  .card__add-text {
    font-size: 0.75rem;
  }
  .card__summary {
    background: var(--alabaster);
    border-radius: 8px;
    padding: 16px;
  }
  :is(
      .arcade-name__wrap p,
      .arcade-name__wrap span,
      .selected-plans-grid,
      .card__summary-total p,
      .card__summary-total span
    ) {
    font-size: 0.875rem;
  }
  .total-price {
    font-size: 1rem;
  }
  .card__block-tanks {
    background: var(--white);
    height: 400px;
    width: 343px;
    position: absolute;
    top: -107px;
    left: 12px;
    padding-inline: 24px;
    border-radius: 10px;
    box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.1);
  }
  .card__block-tanks img {
    margin-block-end: 24px;
  }
  .card__block-tanks h4 {
    font-size: 1.5rem;
    margin-block-end: 9px;
  }
}
